@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: static;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    border:0px;
  }
 body {
    min-height: 100vh;
    background-color: bisque;
  }
#lista1 li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
}
.icon1,.icon2,.icon3,.icon4 {
    transform: scale(1.5);
    padding: 5px;
}

.fotocv {
    float:right;
    border-radius: 100px;
}
header,footer {
    background-color: rgba(206, 36, 36, 0.753);
    text-align: center;
    color: beige;
}
.personal {
    text-align: center;
}
.InfoPersonal {
    text-align: justify;
    padding-left: 5px;
}
.ExperienciaLaboral {
    text-align: left;
    padding-left: 30px;
}
.Estudios {
    text-align: left;
}
.mit,.harvard {
    cursor: pointer;
}
.btn {
    padding: 15px;
    font-size: 16px;
    border-radius: 100px;
    outline: 0px;
    background: rgba(3, 3, 3, 0.753);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
}